<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img [src]="image" />
    <button ion-button color="primary" (click)="getPicture()">Зробити Фото</button>
</ion-content>
